.navbar{
    display: flex;
    align-items: center;
    background-color: #141414;
    justify-content: space-between;
    height: 5rem;
    position: sticky;
    top: 0;
}

.navbar-logo img{
    width: 80%;
}

.navbar-links ul{
    display: flex;
    gap: 2rem;
    margin: 0 1rem;
    align-items: center;    
}
.navbar-links ul li{
    list-style-type: none;
    font-weight: 500;
    color: white;
}

.navbar-links ul li:last-child{
    padding: 1rem;
    background-color: #0f70bd;
    border-radius: 1.5rem;
}